/* css for app component only */

/*see styles.css at root of project for global css*/

body {
  background: #FFFFFF;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c6c6c6;
  border-radius: 1rem;
}

.input-text {
  display: inline;
  font-size: 2rem;
  margin: 0;
  margin-left: 1rem;
  border: none;
  border-radius: 0.4rem;
  padding: 10px;
}

.checkbox {
  margin: 1rem;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  margin: 1rem 0;
}

.todo-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list ul li button {
  background: #f34541;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem;
  border-radius: 0.4rem;
  border: none;
}

.add-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #29a5ff;
  padding: 10px;
  border-radius: 0.4rem;
  border: none;
  margin: 1rem
}

.app-title {
  text-align: center;
  color: #c1c1c1;
  font-size: 70px;
}

ul {
  /* remove default padding and margin from ul*/
  margin: 0px;
  padding: 0px;
}

.list ul li {
  width: 25rem;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  padding: 10px;
  position: relative;
}

.container {
  color: #fff;
  max-width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center
}
